/* 默认浅色模式 */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 移除固定高度 */
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: inline-block;
    /* 自动调整宽度 */
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

#heatmap-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heatmap-row img {
    width: 40px;
    height: 40px;
}

.cell {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #ffeb3b;
    /* 鼠标悬停时的背景颜色 */
}

.cell-0 {
    background-color: #e0e0e0;
}

.cell-1 {
    background-color: #d6e685;
}

.cell-2 {
    background-color: #8cc665;
}

.cell-3 {
    background-color: #44a340;
}

.cell-4 {
    background-color: #1e6823;
}

.cell-5 {
    background-color: #004d00;
}

.cell-6 {
    background-color: #003300;
}

#last-update {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    text-align: center;
}

.rank {
    display: inline-block;
    width: 50px;
    /* 根据需要调整宽度 */
    text-align: right;
    /* 根据需要调整对齐方式 */
}

/* 深色模式 */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }

    .container {
        background-color: #1e1e1e;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    h1 {
        color: #ffffff;
    }

    #heatmap-container {
        background-color: #1e1e1e;
        border: 1px solid #333;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    #last-update {
        color: #aaaaaa;
    }
}

/* styles.css */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    animation: slideIn 0.3s ease-in-out;
}

.popup h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.popup pre {
    background: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.popup button {
    margin-top: 10px;
    padding: 8px 16px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.popup button:hover {
    background: #0056b3;
}